{
  "openapi": "3.0.0",
  "info": {
    "title": "Smart Adaptive Learning Assistant API",
    "version": "1.0.0",
    "description": "Dokumentasi API website Smart Adaptive Learning Assistant."
  },
  "servers": [
    {
      "url": "https://adapler-api.inidito.my.id",
      "description": "Development Server"
    }
  ],
  "tags": [
    {
      "name": "Users"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Forgot Password"
    },
    {
      "name": "Profiles"
    },
    {
      "name": "Task"
    },
    {
      "name": "Study Planner"
    },
    {
      "name": "Material"
    },
    {
      "name": "Quiz"
    },
    {
      "name": "Quiz Score"
    },
    {
      "name": "Chat History"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "tags": ["Users"],
        "summary": "Register new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullname": { "type": "string" },
                  "username": { "type": "string" },
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["fullname", "username", "email", "password"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Registration successful." }
        }
      }
    },
    "/users/verify-otp": {
      "post": {
        "tags": ["Users"],
        "summary": "Verify OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "code": { "type": "string" }
                },
                "required": ["email", "code"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OTP verification successful." }
        }
      }
    },
    "/users/resend-otp": {
      "post": {
        "tags": ["Users"],
        "summary": "Resend OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP code has been sent to your email for account verification."
          }
        }
      }
    },
    "/auth/google-login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login user oauth",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": { "type": "string" }
                },
                "required": ["idToken"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OAuth login successful." }
        }
      }
    },
    "/auth": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["identifier", "password"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login successful." }
        }
      }
    },
    "/forgot-password": {
      "post": {
        "tags": ["Forgot Password"],
        "summary": "Forgot password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP code for password reset has been sent to your email."
          }
        }
      }
    },
    "/forgot-password/verify-otp": {
      "post": {
        "tags": ["Forgot Password"],
        "summary": "Verify OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "code": { "type": "string" }
                },
                "required": ["email", "code"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OTP verification successful." }
        }
      }
    },
    "/forgot-password/reset-password": {
      "post": {
        "tags": ["Forgot Password"],
        "summary": "Reset password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": { "type": "string" },
                  "newPassword": { "type": "string" }
                },
                "required": ["token", "newPassword"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Password successfully updated." }
        }
      }
    },
    "/profiles": {
      "put": {
        "tags": ["Profiles"],
        "summary": "Update user profile",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": { "type": "string" },
                  "birth_date": { "type": "string", "format": "date" },
                  "bio": { "type": "string" },
                  "profile_image": { "type": "string", "format": "binary" },
                  "jenjang_pendidikan": { "type": "string" },
                  "jurusan": { "type": "string" },
                  "target_akademik": { "type": "string" },
                  "jam_belajar_harian": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Profile updated successfully." }
        }
      },
      "get": {
        "tags": ["Profiles"],
        "summary": "Get user profile",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/profiles/photo-profile": {
      "get": {
        "tags": ["Profiles"],
        "summary": "Get photo profile user",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/task": {
      "post": {
        "tags": ["Task"],
        "summary": "Add task",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_name": { "type": "string" },
                  "deadline_date": { "type": "string", "format": "date" },
                  "deadline_time": {
                    "type": "string",
                    "format": "time",
                    "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$",
                    "example": "08:00"
                  },
                  "progres": { "type": "integer" },
                  "prioritas": {
                    "type": "string",
                    "enum": ["tinggi", "sedang", "rendah"]
                  },
                  "status": {
                    "type": "string",
                    "enum": ["selesai", "belum_selesai"]
                  }
                },
                "required": [
                  "task_name",
                  "deadline_date",
                  "deadline_time",
                  "progres",
                  "prioritas",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Add task successful." }
        }
      }
    },
    "/task/finish": {
      "get": {
        "tags": ["Task"],
        "summary": "Get all completed tasks by user ID",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/task/not-finish": {
      "get": {
        "tags": ["Task"],
        "summary": "Get all unfinished tasks by user ID",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/task/{id}": {
      "put": {
        "tags": ["Task"],
        "summary": "Update task",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_name": { "type": "string" },
                  "deadline_date": { "type": "string", "format": "date" },
                  "deadline_time": {
                    "type": "string",
                    "format": "time",
                    "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$",
                    "example": "08:00"
                  },
                  "progres": { "type": "integer" },
                  "prioritas": {
                    "type": "string",
                    "enum": ["tinggi", "sedang", "rendah"]
                  },
                  "status": {
                    "type": "string",
                    "enum": ["selesai", "belum_selesai"]
                  }
                },
                "required": [
                  "task_name",
                  "deadline_date",
                  "deadline_time",
                  "progres",
                  "prioritas",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Task updated successfully." }
        }
      },
      "delete": {
        "tags": ["Task"],
        "summary": "Delete task by ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Task deletion successful." }
        }
      }
    },
    "/study-planner": {
      "post": {
        "tags": ["Study Planner"],
        "summary": "Generate study planner with AI",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startTime": {
                    "type": "string",
                    "format": "time",
                    "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$",
                    "example": "08:00"
                  }
                },
                "required": ["startTime"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Schedule successfully created by AI." }
        }
      },
      "get": {
        "tags": ["Study Planner"],
        "summary": "Get all schedule by user ID",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/study-planner/{id}": {
      "get": {
        "tags": ["Study Planner"],
        "summary": "Get study planner by ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Ok." }
        }
      },
      "put": {
        "tags": ["Study Planner"],
        "summary": "Update study planner",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "detail_jadwal": { "type": "object" }
                },
                "required": ["detail_jadwal"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Study planner updated successfully." }
        }
      },
      "delete": {
        "tags": ["Study Planner"],
        "summary": "Delete study planner by ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Study Planner deletion successful." }
        }
      }
    },
    "/material": {
      "post": {
        "tags": ["Material"],
        "summary": "Upload file",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["document"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Message sent successfully." }
        }
      },
      "get": {
        "tags": ["Material"],
        "summary": "Get material by user ID",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/material/document/{id}": {
      "get": {
        "tags": ["Material"],
        "summary": "Get material file by ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/material/{id}": {
      "get": {
        "tags": ["Material"],
        "summary": "Get material by ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Ok." }
        }
      },
      "put": {
        "tags": ["Material"],
        "summary": "Update material",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ringkasan": { "type": "string" },
                  "poin_penting": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "kata_kunci": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                },
                "required": [
                  "nama_file",
                  "ringkasan",
                  "poin_penting",
                  "kata_kunci"
                ]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Material updated successfully." }
        }
      },
      "delete": {
        "tags": ["Material"],
        "summary": "Delete material by ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/quiz": {
      "post": {
        "tags": ["Quiz"],
        "summary": "Generate quiz with AI",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "materialId": {
                    "type": "string"
                  }
                },
                "required": ["materialId"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Questions generated successfully." }
        }
      }
    },
    "/quiz/{materialId}": {
      "get": {
        "tags": ["Quiz"],
        "summary": "Get quiz by material ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "materialId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/nilai-quiz/{materialId}": {
      "post": {
        "tags": ["Quiz Score"],
        "summary": "Submit quiz",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "materialId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jawabanUser": {
                    "type": "object"
                  }
                },
                "required": ["jawabanUser"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Quiz submitted successfully." }
        }
      },
      "get": {
        "tags": ["Quiz Score"],
        "summary": "Get quiz score by material ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "materialId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/chat-history": {
      "post": {
        "tags": ["Chat History"],
        "summary": "Chatting with AI",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pesan": {
                    "type": "string"
                  }
                },
                "required": ["pesan"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Message sent successfully." }
        }
      },
      "get": {
        "tags": ["Chat History"],
        "summary": "Get all chat history by user ID",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
