{
  "openapi": "3.0.0",
  "info": {
    "title": "Smart Adaptive Learning Assistant API",
    "version": "1.0.0",
    "description": "Dokumentasi API website Smart Adaptive Learning Assistant."
  },
  "servers": [
    {
      "url": "https://adapler-api.inidito.my.id",
      "description": "Development Server"
    }
  ],
  "tags": [
    {
      "name": "Users"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Forgot Password"
    },
    {
      "name": "Profiles"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "tags": ["Users"],
        "summary": "Register new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullname": { "type": "string" },
                  "username": { "type": "string" },
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["fullname", "username", "email", "password"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Registration successful." }
        }
      }
    },
    "/users/verify-otp": {
      "post": {
        "tags": ["Users"],
        "summary": "Verify OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "code": { "type": "string" }
                },
                "required": ["email", "code"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OTP verification successful." }
        }
      }
    },
    "/users/resend-otp": {
      "post": {
        "tags": ["Users"],
        "summary": "Resend OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP code has been sent to your email for account verification."
          }
        }
      }
    },
    "/auth/google-login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login user oauth",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": { "type": "string" }
                },
                "required": ["idToken"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OAuth login successful." }
        }
      }
    },
    "/auth": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["identifier", "password"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login successful." }
        }
      }
    },
    "/forgot-password": {
      "post": {
        "tags": ["Forgot Password"],
        "summary": "Forgot password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP code for password reset has been sent to your email."
          }
        }
      }
    },
    "/forgot-password/verify-otp": {
      "post": {
        "tags": ["Forgot Password"],
        "summary": "Verify OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "code": { "type": "string" }
                },
                "required": ["email", "code"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OTP verification successful." }
        }
      }
    },
    "/forgot-password/reset-password": {
      "post": {
        "tags": ["Forgot Password"],
        "summary": "Reset password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": { "type": "string" },
                  "newPassword": { "type": "string" }
                },
                "required": ["token", "newPassword"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Password successfully updated." }
        }
      }
    },
    "/profiles": {
      "put": {
        "tags": ["Profiles"],
        "summary": "Update user profile",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": { "type": "string" },
                  "birth_date": { "type": "string", "format": "date" },
                  "bio": { "type": "string" },
                  "profile_image": { "type": "string", "format": "binary" },
                  "jenjang_pendidikan": { "type": "string" },
                  "jurusan": { "type": "string" },
                  "target_akademik": { "type": "string" },
                  "jam_belajar_harian": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Profile updated successfully." }
        }
      },
      "get": {
        "tags": ["Profiles"],
        "summary": "Get user profile",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/profiles/photo-profile": {
      "get": {
        "tags": ["Profiles"],
        "summary": "Get photo profile user",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/profiles/all": {
      "get": {
        "tags": ["Profiles"],
        "summary": "Get all users (admin only)",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
